/img/characters/Character02/Fly
/img/characters/Character02/Hit
/img/characters/Character02/Roll
/img/enemys/Monster1/Idle
/img/enemys/Monster1/Jump
/img/enemys/Monster4/Idle
/img/enemys/Monster4/Jump
/img/enemys/Boss/Jump