body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.d-none {
    display: none;
}

#overlays {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    width: 100dvw;
    height: 100dvh;
}

.overlay-screen{
    margin-top: 80px;
    width: 1280px;
    height: 720px;
}

#start-screen {
    background-image: url(./img/menu-screens/backgrounds/start-background.png);
}

#container-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu-button {
    width: 230px;
    height: 85px;
    border: unset;
    background-color: transparent;
    background: url(./img/menu-screens/buttons/menu-button.png);
    background-size: contain;
    color: white;
    font-size: 32px;
}

canvas {
    margin: 0;
    background-color: black;
}