@font-face {
    font-family: Modak;
    src: url('../font/Modak/Modak-Regular.ttf');
}

@font-face {
    font-family: Chewy;
    src: url('../font/Chewy/Chewy-Regular.ttf');
}

@font-face {
    font-family: Poiret;
    src: url('../font/Poiret_One/PoiretOne-Regular.ttf');
}